# Ignore CMake build directory
/build/

# Ignore CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore compiled objects
*.o
*.obj
*.so
*.dll
*.exe
*.out

# Ignore logs and temp files
*.log
*.tmp
